[flake8]

exclude =
  # No need to traverse our git directory
  .git,
  # There's no value in checking cache directories
  __pycache__,
  .tox


# E203: https://github.com/python/black/issues/315
# ignore = D,E741,W503,W504,H,E501,E203

max-line-length = 195
